* {
  box-sizing: border-box;
}

h1 {
  font-size: 18px;
}

body {
  counter-reset: game;
  text-align: center;
  background: #e9b58b;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color:coral;
  overflow: hidden;
}

input:checked {
  counter-increment: game;
}

.total-count::after {
  content: counter(game);
}



.total-count {
  font-size: 20px;
  position: absolute;
  top: 22px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 300;
  background-color: olive;
  color: black;

}

.game-area {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  min-height: 550px;
  max-height: 700px;
  margin: 0 auto;
  margin-top: 100px;
  padding-left: 0;
  cursor: url("./img/bow.png"), auto;

}

li {
  width: calc(33% - 10px);
  margin-bottom: 16px;
  height: 150px;
  list-style: none;
  position: relative;
  outline: 4px solid white;
  background: #64ddf3;
  overflow: hidden;
}

li:nth-child(1) input {
  animation-duration: 4.86563s;
  background: red;

}

li:nth-child(2) input {
  animation-duration: 4.95142s;
  background: blue;

}

li:nth-child(3) input {
  animation-duration: 1.418s;
  background: green;

}

li:nth-child(4) input {
  animation-duration: 1.98332s;
  background: crimson;

}

li:nth-child(5) input {
  animation-duration: 1.38138s;
  background: olive;

}

li:nth-child(6) input {
  animation-duration: 4.88206s;
  background: violet;

}

li:nth-child(7) input {
  animation-duration: 1.82007s;
  background: cornsilk;

}

li:nth-child(8) input {
  animation-duration: 3.59585s;
  background: firebrick;

}

li:nth-child(9) input {
  animation-duration: 2.51349s;
  background: rebeccapurple;

}





input[type="checkbox"] {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 60%;
  cursor: url("./img/bow.png"), auto;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  appearance: none;
  border: 6px solid;
  border-color: black;
  animation: hide-target infinite alternate ease-in-out;
  z-index: 1;

}

input[type="checkbox"]:before {
  content: '';
  display: block;
  background-color: rgb(235, 19, 19);
  height: 120%;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 6px);
  margin: 0 auto;
  z-index: -1;
}

input[type="checkbox"]:focus {
  outline: none;
  appearance: none;
}

input[type="checkbox"]:checked {
  pointer-events: none;
  filter: grayscale(1) opacity(0.75);
  animation: none;
}

input[type="checkbox"]:checked:after {
  content: '+1pt';
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 18px;
  font-weight: 600;
}

.cover{
  background: #41df56;
  width: 100%;
  height: 40%;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: all;
  z-index: 100;
}

@keyframes hide-target {
  0% {
    top: 0;
  }
  60% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}

.game-over {
  height: 100%;
  width: 100%;
  display: block;
  pointer-events: all;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 200;
  animation: appear .25s forwards;
  animation-delay: 3s;
  background: conic-gradient(white 90deg, #f01381 90deg 180deg, white 180deg 270deg, #f71b1b 270deg) top left/60px 60px repeat;
}

.game-over h1 {
  padding:10px ;
  margin-top: 200px;
  background-color: olive;
  color: black;
}

@keyframes appear {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.play-again {
  background: white;
  color: #20c0ff;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}


